<!DOCTYPE html>
<html>
<head>
    <title>Docker Lab - NodeJS App</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <div>
    <div>
      {{{body}}}
    </div>
  </div>
</body>
</html>