<div id="message">
  {{ message }}
</div>
<div id="info">
  <table>
    <tr>
      <th>Host Name</th>
      <th>Execution Date/Time</th>
      <th>Port</th>
    </tr>
    <tr>
      <td>{{ hostName }}</td>
      <td>{{ executionDate }}</td>
      <td>{{ port }}</td>
    </tr>
  </table>
</div>